<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etfinder.mvc.comment.mapper.CommentMapper">

	<!-- 1. 한줄평 등록 -->
	<insert id="addComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="commentId">
		INSERT INTO
		comments(user_id, etf_id, content)
		VALUES(#{userId}, #{etfId},
		#{content})
	</insert>

	<!-- 2. 한줄평 조회 -->
	<select id="getCommentsByEtfId"
		resultType="com.etfinder.mvc.comment.dto.CommentResponse">
		SELECT
			c.comment_id,
			u.nickname, -- 닉네임
			c.content, -- 내용
			c.sentiment, -- 감정
			c.created_at, -- 최초 작성 시간
			c.updated_at -- 수정 시간
		FROM comments c
		JOIN users u ON c.user_id = u.user_id
		WHERE c.etf_id = #{etfId}
		ORDER BY c.created_at DESC
	</select>


	<!-- 3. 한줄평 수정 -->
	<update id="updateComment">
		UPDATE comments
		SET content = #{content},
			updated_at = NOW()
		WHERE comment_id = #{commentId} 
			AND user_id = #{userId}
	</update>


	<!-- 4. 한줄평 삭제 -->
	<delete id="deleteComment">
		DELETE FROM comments
		WHERE comment_id
		= #{commentId}
		AND user_id = #{userId}
	</delete>
	
	<!-- 5. 한줄평 ai 분석 결과 저장 -->
	<update id="updateCommentSentiment">
		UPDATE comments
		SET sentiment = #{sentiment}
		WHERE comment_id = #{commentId}
	</update>
	
	
	<!-- 6. 한줄평 ai 분석 통계 가져오기 -->
	<select id="selectSentimentStat">
		SELECT 
			COUNT(CASE WHEN sentiment = 'POSITIVE' THEN 1 END) as positiveCount,
	        COUNT(CASE WHEN sentiment = 'NEGATIVE' THEN 1 END) as negativeCount,
	        COUNT(*) as totalCount
	    FROM comments
    	WHERE etf_id = #{etfId}
    		AND user_id IS NOT NULL
	</select>
</mapper>