<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etfinder.mvc.ranking.mapper.SearchRankingMapper">
	
	<!-- 1. 실시간 검색어 랭킹 조회 -->
	<select id="getHourlySearchRanking" resultType="SearchRanking">
		SELECT keyword, COUNT(*) AS searchCount
		FROM search_log
		WHERE created_at >= DATE_SUB(NOW(), INTERVAL 1 HOUR)
		GROUP BY keyword
		ORDER BY searchCount DESC
		LIMIT 10
	</select>
	
	<!-- 2. 일간 검색어 랭킹 조회  -->
	<select id="getDailySearchRanking" resultType="SearchRanking">
		SELECT keyword, COUNT(*) AS searchCount
		FROM search_log
		WHERE created_at >= CURDATE()
		GROUP BY keyword
		ORDER BY searchCount DESC
		LIMIT 10
	</select>
	
	<!-- 3. 월간 검색어 랭킹 조회  -->
	<select id="getMonthlySearchRanking" resultType="SearchRanking">
		SELECT keyword, COUNT(*) AS searchCount
		FROM search_log
		WHERE created_at >= DATE_FORMAT(NOW(), '%Y-%m-01')
		GROUP BY keyword
		ORDER BY searchCount DESC
		LIMIT 10
	</select>	
	
</mapper>